{% extends "admin/layout.html" %}
{% block bodyadmin %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Home Sliders</h4>
                <p class="text-muted mb-3">Home Sliders.</p>
                <form action="{{url_for('admin.homesliders')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Title</label>
                                <input name="title" type="text" class="form-control" id="title" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="useremail">Text1</label>
                                <input type="text" name="text1" class="form-control" id="text" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="subject">Text2</label>
                                <input type="text" name="text2" class="form-control" id="subject" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Span</label>
                                <input type="text" name="span" class="form-control" id="subject" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">File upload</label>
                                <input name="file" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Text01</th>
                    <th scope="col">Texxt02</th>
                    <th scope="col">Span</th>
                    <th scope="col">Image</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for i in slide %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.title}}</td>
                    <td>{{i.text1}}</td>
                    <td>{{i.title2}}</td>
                    <td>{{i.span}}</td>
                    <td>{{i.image}}</td>
                    <td name="buttons">
                        <div class=" pull-right">
                            <a href=""><i class="dripicons-pencil"></i></a>
                            <a href="/admin/deleteslide/{{i.id}}"><i class="dripicons-cross" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
<!-- //////////////////////////////////////////////////HOME Reklam////////////////////////////////////////////////////////// -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Home reklam</h4>
                <p class="text-muted mb-3">Home reklam.</p>
                <form action="{{url_for('admin.homereklam')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Text</label>
                                <input name="text" type="text" class="form-control" id="title" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">File upload</label>
                                    <input name="file" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                            </div>
                        </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Image</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rekllam %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.text}}</td>
                <td>{{i.image}}</td>
                <td name="buttons">
                    <div class=" pull-right">
                        <a href=""><i class="dripicons-pencil"></i></a>
                        <a href="/admin/deletereklam/{{i.id}}"><i class="dripicons-cross" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- /////////////////////////////////HOME Best/////////////////////////////////////////////////////// -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Home Best Sellers</h4>
                <p class="text-muted mb-3">Home Best Sellers.</p>
                <form action="{{url_for('admin.homebestsellers')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Title</label>
                                <input name="text" type="text" class="form-control" id="title" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">Cost</label>
                                    <input type="text" name="cost" class="form-control" id="subject" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">File upload</label>
                                    <input name="file" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                            </div>
                        </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>
<div class="row">
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Cost</th>
                <th scope="col">Text</th>
                <th scope="col">Image</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for i in seller %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.cost}}</td>
                <td>{{i.text}}</td>
                <td>{{i.image}}</td>
                <td name="buttons">
                    <div class=" pull-right">
                        <a href=""><i class="dripicons-pencil"></i></a>
                        <a href="/admin/deletesellers/{{i.id}}"><i class="dripicons-cross" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}