{% extends "admin/layout.html" %}
{% block bodyadmin %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Women Sliders</h4>
                <form action="{{url_for('admin.womenSlide')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">File upload</label>
                                <input name="file" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Women Reklam</h4>
                <form action="{{url_for('admin.womenReklam')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">span</label>
                                <input type="text" name="span" class="form-control" id="subject" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">File upload</label>
                                <input name="file" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Women Best Sellers</h4>
                <form action="{{url_for('admin.womenAll')}}" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Title</label>
                                <input name="text" type="text" class="form-control" id="title" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">Cost</label>
                                    <input type="text" name="cost" class="form-control" id="subject" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">File upload</label>
                                    <input name="file" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send Message</button>
                            </div>
                        </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>
{% endblock %}